.card-container{
    position:relative;
    width:100%;
    height:100%;
    box-sizing: border-box;
    /* border:2px solid blue; */
    transition: transform 0.3s ease-in;
}
.card-container>img{
    object-fit: cover;
    width:100%;
    height:auto;
    border-radius: 20px;
}

.card-container .details{
    position:absolute;
    bottom:0;
    /* text-align: center; */
    background-color: hsl(0 0% 10% /0.7);
    color:var(--small-text-color);
    width:100%;
    /* border:2px solid blue; */
    border-radius: 20px;;
    opacity:0;
    transition: opacity .3s ease-in;
}

.card-container:hover .details{
    opacity:1;

}

.card-container:hover{
    transform: scale(0.95);
}


.favorite-btn{
   
    right:0;
    top:0;

}