.header-container {
    max-width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: 2px solid;
    position: relative;
}

/* Logo group */
.logo-name {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    cursor:pointer;
}

.header-container img {
    width: 40px;
    height: auto;
}

/* Links (desktop) */
.header-links {
    display: flex;
    gap: 30px;
    
}

.header-links a {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s;
}

.header-links a:hover {
    transform: scale(0.95);
    color: var(--ascent-color);
}

/* Hamburger button (hidden by default) */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: var(--text-color);
}

/* ---------- MOBILE ---------- */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    /* Hide links on mobile */
    .header-links {
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        width: auto;
        background: hsl(0 0% 10% / 0.95);
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 20px;
        border-top: 2px solid;
        font-size:12px;
    }

    /* When menu open */
    .header-links.open {
        display: flex;
        z-index:1;
    }
}
