body{
  top:0;
  padding:0;
  margin:0;
  box-sizing: border-box;
  max-width:100vw;
  min-height:100vh;
  background-image: linear-gradient(hsl(0, 0%, 5%),66%,hsl(0, 0%, 10%));
  background-repeat: no-repeat;
  --text-color:hsl(0, 0%, 95%);
  --ascent-color:hsl(240, 100%, 60%);
  --small-text-color:hsl(0, 0%, 90%);
}