body{
  top:0;
  padding:0;
  margin:0;
  box-sizing: border-box;
  max-width:100vw;
  min-height:100vh;
  background-image: linear-gradient(hsl(0, 0%, 5%),66%,hsl(0, 0%, 10%));
  background-repeat: no-repeat;
  --text-color:hsl(0, 0%, 95%);
  --ascent-color:hsl(240, 100%, 60%);
  --small-text-color:hsl(0, 0%, 90%);
}

.cards-grid{
    padding:20px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}


@media (max-width: 900px){
  .cards-grid{
      padding:20px; 
      display:grid; 
      grid-template-columns: 1fr 1fr 1fr;
      gap:10px;
  }
}

@media(max-width:550px){
  .cards-grid{
      padding:20px; 
      display:grid; 
      grid-template-columns: 1fr 1fr;
      gap:10px;
  }
}