.card-container{
    position:relative;
    width:100%;
    height:100%;
    box-sizing: border-box;
}
.card-container>img{
    object-fit: cover;
    width:100%;
    height:auto;
}

.card-container>h3{
    position:absolute;
    bottom:0;
    text-align: center;
}