.hero-container{
    max-width:100%;
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding:20px;
}

.text-section{
    display:flex;
    flex:1;
}
.text-section h1{
    font-size:1.5rem;
    color:var(--text-color)
}
.text-section .ascent{
    color:var(--ascent-color);
}
.text-section h1~p{
    color:var(--small-text-color);
}
.image-container{
    width:100%;
    height:100%;
    padding:10px;
    display:flex;
    flex:1;
}
.image-section {
  background-size: contain;
  background-position: center;
  height:auto;
  width:100%;
  height:600px;
  position: relative;
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border: 4px solid transparent;
  background-clip: padding-box;
}

.image-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: -1;
  border-radius: 16px;
  padding: 4px; 
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}