
.loading{
    font-size:2rem;
    display:flex;
    flex:1;
    text-align: center;
    color:var(--text-color);
    font-weight: bold;
    justify-content: center;
}

.error{
    font-size:2rem;
    display:flex;
    flex:1;
    text-align: center;
    color:var(--text-color);
    font-weight: bold;
    justify-content: center;
}